.editor {
    outline: none;
    border: 1px solid #dedede;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #f2f2f2;
    background-size: 15px 15px;
    background-image:
      linear-gradient(to right, #e9e9e9 1px, transparent 1px),
      linear-gradient(to bottom, #e9e9e9 1px, transparent 1px);
}

.node {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: #1f1f1f;
    cursor: grab;
    border: 1px solid #a3a3a3;
}

.node:focus {
    border: 1px solid #007580;
    box-shadow: 5px 5px 10px rgba(0, 117, 128, 0.5);
    outline: none;
}

.node .title {
    background-color: #ececec;
    border-bottom: 1px solid #a3a3a3;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.node .socket {
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: 3px solid transparent;
    cursor: crosshair;
}

.node .socket:hover {
    border: 3px solid rgb(204, 204, 204);
}

/* Number sockets and connections */

.connection[number] {
    stroke: #5aa469;
    stroke-width: 3;
}

.node .socket[number] {
    background-color: #5aa469;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: 3px solid transparent;
}

.node .socket[number]:hover {
    border: 3px solid hsl(132, 29%, 60%);
}

/* String sockets and connections */

.connection[string] {
    stroke: #d35d6e;
    stroke-width: 3;
}

.node .socket[string] {
    background-color: #d35d6e;
    width: 13px;
    height: 13px;
    border: 3px solid transparent;
}

.node .socket[string]:hover {
    border: 3px solid hsl(351, 57%, 50%);
}
