.editor {
    border: 1px solid black;
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
    background-color: #252525;
    background-size: 15px 15px;
    background-image:
      linear-gradient(to right, #202020 1px, transparent 1px),
      linear-gradient(to bottom, #202020 1px, transparent 1px);
}

.node {
    width: 200px;
    background-color: #353535;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: Arial, Helvetica, sans-serif;
    color: #aaaaaa;
    cursor: grab;
    border: 1px solid #2e2e2e;
}

.node:focus {
    border: 1px solid rgb(117, 117, 24);
    outline: none;
}


.node .title {
    background-color: #363636;
    border-bottom: 1px solid #2e2e2e;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.node .socket {
    background-color: white;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: 3px solid transparent;
}

.node .socket:hover {
    border: 3px solid rgb(204, 204, 204);
}

.node .socket[number] {
    background-color: hsl(150, 100%, 50%);
    width: 13px;
    height: 13px;
    border-radius: 13px;
    border: 3px solid transparent;
}

.node .socket[number]:hover {
    border: 3px solid hsl(150, 100%, 30%);
}

.node .socket[string] {
    background-color: hsl(9, 100%, 64%);
    width: 13px;
    height: 13px;
    border: 3px solid transparent;
}

.node .socket[string]:hover {
    border: 3px solid hsl(9, 100%, 44%);
}
